@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    /* background-color: var(--color-bg); */
    /* color:var(--color-text); */
    /* color: var(--color-text); */
    /* // color: #363636; */
    /* // overflow-y: hidden; */

    /* background: #222; */
    /* // color: white; */
}